# =========================
# Build results
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider / VS Code
# =========================
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / Secrets
# =========================
.env
appsettings.*.json
!appsettings.json

# =========================
# Database
# =========================
*.mdf
*.ldf

# =========================
# Publish
# =========================
publish/
